.main p,
.main span {
  position: absolute;
}
.main p {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #d9d9d9;
}
.main span {
  background: #d9d9d9;
  border-radius: 4px;
}
#one {
  left: 320px;
  bottom: 180px;
  width: 41px;
  height: 41px;
  background: linear-gradient(180deg, #e9eeef 0%, #d2ddde 100%);
}

#two {
  left: 530px;
  top: 180px;
  width: 26.191px;
  height: 26.191px;
  background: #e9eeef;
}

#three {
  left: 900px;
  top: 200px;
  width: 26.191px;
  height: 26.191px;
  background: #f5f6f7;
}
#four {
  left: 1200px;
  top: 220px;
  width: 41px;
  height: 41px;
  background: linear-gradient(180deg, #e9eeef 0%, #d4dfe0 100%);
}
#five {
  left: 800px;
  bottom: 200px;
  width: 21.168px;
  height: 21.168px;
  background: #e9eeef;
}

#JS {
  left: 260px;
  top: 160px;
  background: linear-gradient(180deg, #d2ddde 0%, #bbcccd 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

#CSS {
  left: 1100px;
  bottom: 160px;
  background: linear-gradient(180deg, #cedadb 0%, #c0d0d1 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
