.main {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: transparent;
}
.main h1 {
  text-align: center;

  font-size: 72px;
  font-weight: 500;
}
.main h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  width: 660px;
}

.main p,
.main span {
  position: absolute;
}
.main p {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #d9d9d9;
}
.main span {
  background: #d9d9d9;
  border-radius: 4px;
}
#one {
  left: 320px;
  bottom: 180px;
  width: 41px;
  height: 41px;
}

#two {
  left: 530px;
  top: 180px;
  width: 26.191px;
  height: 26.191px;
}

#three {
  left: 900px;
  top: 200px;
  width: 26.191px;
  height: 26.191px;
}
#four {
  left: 1200px;
  top: 220px;
  width: 41px;
  height: 41px;
}
#five {
  left: 800px;
  bottom: 200px;
  width: 21.168px;
  height: 21.168px;
}

#JS {
  left: 260px;
  top: 160px;
}

#CSS {
  left: 1100px;
  bottom: 160px;
}

@media (min-width: 1441px) {
  .main {
    height: 800px;
  }
  #one {
    left: 420px;
  }

  #two {
    left: 830px;
  }

  #three {
    left: 1200px;
  }
  #four {
    left: 1500px;
  }
  #five {
    left: 1100px;
  }

  #JS {
    left: 460px;
    top: 200px;
  }

  #CSS {
    left: 1400px;
  }
}

@media (max-width: 700px) {
}

@media (min-width: 701px) and (max-width: 1120px) {
}
