.main {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0px 60px;
  width: 100%;
  height: 80vh;
  border-radius: 40px;
  background-color: rgba(233, 238, 239, 1);
}

.main div {
  padding-left: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.main h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}
.description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 430px;
  margin-bottom: 54px;
}
#image {
  display: flex;
  justify-content: flex-end;
  transform: translateY(2px);
  padding-left: 40px;
}
.textContainer button {
  border: none;
  width: 319px;
  height: 66px;
  border-radius: 19px;
  background: #3d7172;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: not-allowed;
}

@media (min-width: 1441px) {
  .main div {
    padding-left: 260px;
  }
  #ActualImage {
    width: 574px;
    height: 577px;
  }
  #image {
    padding-left: 80px;
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
    gap: 20px;
    border-radius: 16px;
  }
  .main div {
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
  #image {
    transform: translateY(0px);
    padding-left: 0;
  }
  .main h3 {
    font-size: 20px;
  }
  .subtitle {
    font-size: 12px;
  }
  .description {
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0px 14px;
    margin-bottom: 20px;
  }
  .textContainer button {
    width: 200px;
    height: 66px;
    font-size: 16px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
}
