.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
}

.content {
  height: 100%;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content div {
  width: 50%;
  padding: 180px;
  display: flex;
  flex-direction: column;
}
.main h3 {
  font-size: 36px;
  margin-bottom: 24px;
}
.main p {
  font-size: 20px;
  font-weight: 300;
}

.img {
  display: flex;
  position: relative;
  width: 440px;
  height: 564px;
  flex-shrink: 0;
  border-radius: 45px;
  overflow: hidden;
}
.img img {
  left: -190px;
  position: absolute;
}
@media (min-width: 1441px) {
}

@media (max-width: 700px) {
  .main {
    height: auto;
  }
  .content {
    margin-top: 250px;
    margin-bottom: 60px;
    flex-direction: column;
    gap: 20px;
  }
  .content div {
    width: 100%;
    height: auto;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
  }
  .main h3 {
    font-size: 20px;
  }
  .main p {
    font-size: 16px;
    text-align: center;
  }
  .img {
    width: 300px;
    height: 384px;
  }
  .img img {
    left: -270px;
    position: absolute;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
}
