.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
  gap: 120px;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .main {
    padding: 0px;
    margin: 60px 0px;
  }
}
