:root {
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}
#SADImage {
  position: relative;
  display: flex;
  width: 554px;
  height: 557px;
}

#MSDEVImage {
  position: relative;
  display: flex;
  width: 647px;
  height: 560px;
}
#AIPPIAImage {
  position: relative;
  display: flex;
  width: 600px;
  height: 350px;
  transform: translateY(-120px);
}
#MEDICALImage {
  position: relative;
  display: flex;
  width: 800px;
  height: 392px;
}
#LlamaGallery {
  position: relative;
  display: flex;
  width: 800px;
  height: 392px;
}
@media (min-width: 1441px) {
  #SADImage {
    width: 574px;
    height: 577px;
  }
  #MSDEVImage {
    width: 817px;
    height: 710px;
  }
}

@media (max-width: 700px) {
  #SADImage {
    width: 250px;
    height: 251px;
  }

  #MSDEVImage {
    width: 350px;
    height: 305px;
  }
  #AIPPIAImage {
    width: 350px;
    height: 190px;
    transform: translateY(-60px);
  }
  #MEDICALImage {
    width: 350px;
    height: 190px;
  }
  #LlamaGallery {
    width: 350px;
    height: 190px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
}
