.main {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 60px;
  background-color: transparent;
  z-index: 1000;
}

@media (min-width: 1441px) {
}

@media (max-width: 700px) {
  .main {
    padding: 30px 20px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
}
